This notebook is used for uploading the data and looking at it (analysis of columns, missing data, etc.)
The path to the data is: <br/>
http://194.95.75.11/home/iboeckmann/webtracking_analysis/parsing/data/parsed-newssites/us_part1 <br/>
http://194.95.75.11/home/iboeckmann/webtracking_analysis/parsing/data/parsed-newssites/us_part2 <br/>
http://194.95.75.11/home/iboeckmann/webtracking_analysis/parsing/data/parsed-newssites/uk <br/>
And the html files are at http://194.95.75.11/home/iboeckmann/webtracking_analysis/parsing/tmp/Netquest/downloads/us/2019-04-08/

In [1]:
import pandas as pd
import glob

In [11]:
PATH_TO_DATA_FOLDER = '../data/*'
news = pd.DataFrame()
for filepath in glob.iglob(PATH_TO_DATA_FOLDER):
    current_news = pd.read_json(filepath, lines=True)
    current_news['country'] = filepath.split('/')[-1][:-5]
    news = news.append(current_news)
    

news.reset_index(inplace=True, drop=True)
news['country'] = news['country'].apply(lambda x: 'us' if x[:2]=='us' else x)
news.head()

,authors,error,htmlfile,imgs,meta_keywords,meta_lang,movies,text,title,url,country
0,None,NaN,GER_2019-03-15_5001_web_page.html,[https://s.yimg.com/rz/d/yahoo_frontpage_maste...,[],None,None,Yahoo makes it easy to enjoy what matters most...,Yahoo,mail.yahoo.com/d/folders/1/messages/AAND4PQaxC...,us_part2
1,None,NaN,GER_2019-03-15_5002_web_page.html,[https://s.yimg.com/rz/d/yahoo_frontpage_maste...,[],None,None,Yahoo makes it easy to enjoy what matters most...,Yahoo,mail.yahoo.com/d/folders/1/messages/APKkK9wBHi...,us_part2
2,None,NaN,GER_2019-03-15_5014_web_page.html,[https://s.yimg.com/rz/d/yahoo_frontpage_maste...,[],None,None,Yahoo makes it easy to enjoy what matters most...,Yahoo,mail.yahoo.com/d/folders/1/messages/AIrcuzR5_3...,us_part2
3,None,NaN,GER_2019-03-15_5022_web_page.html,[https://s.yimg.com/rz/d/yahoo_frontpage_maste...,[],None,None,Yahoo makes it easy to enjoy what matters most...,Yahoo,mail.yahoo.com/d/folders/1/messages/AICpXS9DJf...,us_part2
4,None,NaN,GER_2019-03-15_5023_web_page.html,[https://s.yimg.com/rz/d/yahoo_frontpage_maste...,[],None,None,Yahoo makes it easy to enjoy what matters most...,Yahoo,mail.yahoo.com/d/folders/1/messages/AL8yMlxRf1...,us_part2

In [20]:
news['country'] = news['country'].apply(lambda x: 'us' if x[:2]=='us' else x)

In [45]:
print('The number of unique URLs and domains  per country:')
news['domain'] = news['url'].apply(lambda x: x.split('/')[0])
news_by_countries = news.groupby('country')
news_by_countries.agg({"url": "nunique", "domain": "nunique"})

The number of unique URLs and domains  per country:

            url  domain
country
uk       120585    1456
us       868037    2074

In [46]:
countries_by_domains = news.groupby(['country', 'domain'])
urls_by_domains = countries_by_domains.agg({"url":"nunique"}).sort_values('url', ascending=False)
urls_by_domains.reset_index(inplace=True)

In [55]:
urls_by_domains['fraction'] = urls_by_domains['url'].apply(lambda x: x/120585) #please change the number here to the corresponding number of total unique URLs
urls_by_domains[urls_by_domains['country'] == 'uk'] #change a country to either 'uk' or 'us'

     country                                           domain    url  fraction
3         uk                                    www.bbc.co.uk  25728  0.213360
8         uk                                        bbc.co.uk   8352  0.069262
9         uk                              www.dailymail.co.uk   6167  0.051142
10        uk                              www.theguardian.com   5579  0.046266
12        uk                                 www.thesun.co.uk   4217  0.034971
18        uk                                  theguardian.com   2678  0.022208
19        uk                                 www.mirror.co.uk   2635  0.021852
20        uk                                    ogwam.sky.com   2579  0.021387
21        uk                                  c.newsnow.co.uk   2457  0.020376
25        uk                                      metro.co.uk   2177  0.018054
27        uk                                      www.sky.com   2000  0.016586
28        uk                                      www.bbc.com   1984  0.016453
30        uk                                www.express.co.uk   1890  0.015674
31        uk                               www.thetimes.co.uk   1852  0.015358
35        uk                                  dailymail.co.uk   1621  0.013443
36        uk                                     news.sky.com   1612  0.013368
37        uk                              www.telegraph.co.uk   1550  0.012854
38        uk                            www.independent.co.uk   1526  0.012655
39        uk                                      inews.co.uk   1369  0.011353
42        uk                                      www.itv.com   1308  0.010847
43        uk                                    skyid.sky.com   1305  0.010822
45        uk                      photogallery.indiatimes.com   1235  0.010242
48        uk                                 www.buzzfeed.com   1176  0.009752
55        uk                              www.dailystar.co.uk    977  0.008102
56        uk                                     thesun.co.uk    975  0.008086
62        uk                            gamefaqs.gamespot.com    843  0.006991
63        uk                         www.huffingtonpost.co.uk    837  0.006941
64        uk             surveys.contributors.telegraph.co.uk    828  0.006867
69        uk                                          itv.com    766  0.006352
71        uk                                  www.nytimes.com    744  0.006170
...      ...                                              ...    ...       ...
3467      uk                                radio.foxnews.com      1  0.000008
3476      uk                      s2-prod.hulldailymail.co.uk      1  0.000008
3477      uk                   s2-prod.lincolnshirelive.co.uk      1  0.000008
3480      uk                             s2-prod.mirror.co.uk      1  0.000008
3481      uk                     s2-prod.plymouthherald.co.uk      1  0.000008
3483      uk                                  s3.mirror.co.uk      1  0.000008
3484      uk                                    s5.feedly.com      1  0.000008
3486      uk                                     sa.bbc.co.uk      1  0.000008
3491      uk                                     saa.cbsi.com      1  0.000008
3492      uk                          sacramento.cbslocal.com      1  0.000008
3494      uk                     samizdat-graphql.nytimes.com      1  0.000008
3496      uk                        sanfrancisco.cbslocal.com      1  0.000008
3498      uk                              saturn.jpl.nasa.gov      1  0.000008
3504      uk                      rps-p2.rockpapershotgun.com      1  0.000008
3508      uk  richiamo-della-foresta.blogautore.repubblica.it      1  0.000008
3509      uk                                    rmc.bfmtv.com      1  0.000008
3513      uk                          rmcdecouverte.bfmtv.com      1  0.000008
3515      uk                                rockstargames.com      1  0.000008
3516      uk                      rps-uk.rockpapershotgun.com      1  0.000008
3518      uk                                 rta2.metro.co.uk      1  0.000008
3519      uk                                        rtc.wp.pl      1  0.000008
3520      uk                        s-adobeanalytics.vice.com      1  0.000008
3521      uk                                 s-i.huffpost.com      1  0.000008
3522      uk                            s.libertaddigital.com      1  0.000008
3523      uk                                   s.newsweek.com      1  0.000008
3524      uk                                        s.npr.org      1  0.000008
3525      uk                                       s1.adis.ws      1  0.000008
3526      uk                        s2-prod.dailyrecord.co.uk      1  0.000008
3528      uk                     s2-prod.derbytelegraph.co.uk      1  0.000008
3529      uk                                   node.windy.com      1  0.000008

[1456 rows x 4 columns]

In [59]:
k = 30
k_top = urls_by_domains[urls_by_domains['country'] == 'uk'][:k]
print(f'For top {k} the fraction is ', k_top['fraction'].sum())

For top 30 the fraction is  0.7377949164489781

In [58]:
for column in news.columns:
    print(column)
    print('Number of null elements: ', len(news[news[column].isnull()])) #number of null entries
    print(news[~news[column].isnull()][column][0:10]) #example of non-empty elements

authors
Number of null elements:  899701
67             [Chloe Melas]
68     [Lisa Respers France]
69         [Elizabeth Cohen]
92                   [March]
93                   [March]
94                   [March]
95                   [March]
96                   [March]
97                   [March]
272         [Charlie Warzel]
Name: authors, dtype: object
error
Number of null elements:  997542
31452     Not crawled
159321    Not crawled
251261    Not crawled
264865    Not crawled
269903    Not crawled
411663    Not crawled
436202    Not crawled
565156    Not crawled
577975    Not crawled
604693    Not crawled
Name: error, dtype: object
htmlfile
Number of null elements:  0
0    GER_2019-03-15_5001_web_page.html
1    GER_2019-03-15_5002_web_page.html
2    GER_2019-03-15_5014_web_page.html
3    GER_2019-03-15_5022_web_page.html
4    GER_2019-03-15_5023_web_page.html
5    GER_2019-03-15_5024_web_page.html
6    GER_2019-03-15_5025_web_page.html
7    GER_2019-03-15_5026_web_page.html
8    GER_2019-03-15_5029_web_page.html
9    GER_2019-03-15_5030_web_page.html
Name: htmlfile, dtype: object
imgs
Number of null elements:  39815
0    [https://s.yimg.com/rz/d/yahoo_frontpage_maste...
1    [https://s.yimg.com/rz/d/yahoo_frontpage_maste...
2    [https://s.yimg.com/rz/d/yahoo_frontpage_maste...
3    [https://s.yimg.com/rz/d/yahoo_frontpage_maste...
4    [https://s.yimg.com/rz/d/yahoo_frontpage_maste...
5    [https://s.yimg.com/rz/d/yahoo_frontpage_maste...
6    [https://s.yimg.com/rz/d/yahoo_frontpage_maste...
7    [https://s.yimg.com/rz/d/yahoo_frontpage_maste...
8    [https://s.yimg.com/rz/d/yahoo_frontpage_maste...
9    [https://s.yimg.com/rz/d/yahoo_frontpage_maste...
Name: imgs, dtype: object
meta_keywords
Number of null elements:  21060
0    []
1    []
2    []
3    []
4    []
5    []
6    []
7    []
8    []
9    []
Name: meta_keywords, dtype: object
meta_lang
Number of null elements:  704289
70     en
72     en
92     en
93     en
94     en
95     en
96     en
97     en
98     en
114    en
Name: meta_lang, dtype: object
movies
Number of null elements:  994257
775           [https://www.youtube.com/embed/lh-85zp26Oc]
1173    [https://www.youtube.com/embed/Uevp0wI-3QQ?fea...
1414    [https://www.youtube.com/embed/7NiYVoqBt-8, ht...
1416    [https://www.youtube.com/embed/TcMBFSGVi1c?ver...
1443          [https://www.youtube.com/embed/DY05-Uhcek0]
2306    [https://www.youtube.com/embed/Uevp0wI-3QQ?fea...
2427          [https://www.youtube.com/embed/BPDLoyNzqKU]
2437          [https://www.youtube.com/embed/Bd_4X7xODKQ]
2495    [https://www.youtube.com/embed/FgvV0R1n1W8?ver...
2896          [https://www.youtube.com/embed/DY05-Uhcek0]
Name: movies, dtype: object
text
Number of null elements:  308642
0    Yahoo makes it easy to enjoy what matters most...
1    Yahoo makes it easy to enjoy what matters most...
2    Yahoo makes it easy to enjoy what matters most...
3    Yahoo makes it easy to enjoy what matters most...
4    Yahoo makes it easy to enjoy what matters most...
5    Yahoo makes it easy to enjoy what matters most...
6    Yahoo makes it easy to enjoy what matters most...
7    Yahoo makes it easy to enjoy what matters most...
8    Yahoo makes it easy to enjoy what matters most...
9    Yahoo makes it easy to enjoy what matters most...
Name: text, dtype: object
title
Number of null elements:  31331
0    Yahoo
1    Yahoo
2    Yahoo
3    Yahoo
4    Yahoo
5    Yahoo
6    Yahoo
7    Yahoo
8    Yahoo
9    Yahoo
Name: title, dtype: object
url
Number of null elements:  0
0    mail.yahoo.com/d/folders/1/messages/AAND4PQaxC...
1    mail.yahoo.com/d/folders/1/messages/APKkK9wBHi...
2    mail.yahoo.com/d/folders/1/messages/AIrcuzR5_3...
3    mail.yahoo.com/d/folders/1/messages/AICpXS9DJf...
4    mail.yahoo.com/d/folders/1/messages/AL8yMlxRf1...
5    mail.yahoo.com/d/folders/1/messages/AF-c4kcOEp...
6    mail.yahoo.com/d/folders/1/messages/AFOW6-dwyK...
7    mail.yahoo.com/d/folders/1/messages/AAGUXpddOw...
8    mail.yahoo.com/d/folders/1/messages/AGbqnPw8W5...
9    mail.yahoo.com/d/folders/1/messages/AJbn1_UV32...
Name: url, dtype: object

In [63]:
#meta_keywords are lists and just .isnull() does not capture empty elements
keywords = news[~news['meta_keywords'].isnull()]
keywords[keywords.meta_keywords.map(len)>1]['meta_keywords']

67        [entertainment, Netflix cancels 'One Day at a ...
68        [entertainment, Lori Loughlin's school cheatin...
69        [health, 'Five Feet Apart' love story recalls ...
70        [new york measles, anti-vax children measles, ...
92        [Metro, gambinos, john gotti, mafia, shootings...
93        [News, class-action lawsuits, college admissio...
94                  [Metro, gambinos, mafia, staten island]
95                                [Metro, assaults, queens]
96        [Business, Tech, facebook, instagram, mark zuc...
97        [Opinion, border wall, central america, donald...
98        [federal bureau of investigation, University a...
263       [frank cali todt hill, todt hill, hilltop terr...
273       [breaking news, U.S. news, news, news online, ...
276       [Floyd Galloway, World, Justice, News, Court, ...
277       [World, Justice, News, Court, Chat, Trials, Tr...
432       [Yahoo, Yahoo Startseite, yahoo startseite, Ya...
440       [Yahoo, Yahoo Startseite, yahoo startseite, Ya...
559       [Breivik’s manifesto, Breivik’s innovation, wh...
560       [The Atlantic, The Atlantic Magazine, TheAtlan...
561       [single virus, work.But Stéphane Blanc, daught...
566       [cheating scandal, Game shows, Lori Loughlin, ...
716       [Real Estate and Housing (Residential), Mortga...
717       [Ryan Fraser, Midfielders, Bournemouth, Premie...
723        [story, STORY, story, video, talking-movies, , ]
1020      [Samsung Galaxy Note8, Samsung, Galaxy Note8, ...
1021      [Samsung Galaxy J5, Samsung, Galaxy J5, GSM, m...
1149      [Extinction, animal science, Bees, leopards, g...
1150                         [dailymail, news, new-zealand]
1185      [Health, Facebook Instant, Mobile main app fee...
1435      [standard office lunch, bit conservatively.Las...
                                ...
996617    [economy, Trump's tax cuts: 4 ways they change...
996618    [health, Measles accelerates to second-highest...
996619    [health, Anti-vaxers' adult son gets measles; ...
996643    [politics, Prosecutors drop charges against wo...
996645    [politics, Cher tweet on sanctuary cities and ...
996646    [opinions, Steven Mnuchin: The Tax Cuts and Jo...
996647    [tech, Samsung's foldable Galaxy phone pre-sal...
996648    [travel, 'Human sacrifice' victims among skele...
996825    [culture, news, lgbtq, politics, journalism, v...
996863    [notre dame cathedral, notre dame cathedral fi...
996867    [Yahoo, Yahoo Startseite, yahoo startseite, Ya...
996876    [Yahoo, Yahoo Startseite, yahoo startseite, Ya...
996887    [Yahoo, Yahoo Startseite, yahoo startseite, Ya...
996892    [News, fires, notre dame, Notre Dame cathedral...
996893    [culture, news, lgbtq, politics, journalism, v...
996995    [mail, united states postal service, porch pir...
996996    [Sports, News, auburn tigers, college sports, ...
997057    [Notre Dame cathedral, Paris, France, Notre Da...
997058    [notre dame cathedral, notre dame cathedral fi...
997061                       [dailymail, tvshowbiz, canada]
997062                       [dailymail, news, johnny-depp]
997063        [dailymail, tvshowbiz, coachella, california]
997064    [anti-vaxxers, GoFundMe, Vaccinations, measles...
997147    [fire, social media, fire fighter, shooting, m...
997300    [Yahoo, Yahoo Startseite, yahoo startseite, Ya...
997585                     [its, cool, gifs, search, memes]
997589    [best news station in phoenix, phoenix news, p...
997594    [Fox News, Notre Dame de Paris, Shepard Smith,...
997616    [NoBiggie, AllGood, SnoopDogg, Empire, gif, an...
997617    [yes, aight, Chill, gif, animated gif, gifs, m...
Name: meta_keywords, Length: 58652, dtype: object

In [64]:
#get the distribution of the languages
news.meta_lang.value_counts()

en    277365
de      8383
es      3516
pt      2616
it       551
pl       467
zh       159
fr       142
uk        53
ru        40
ro        16
fa        12
hi         2
ja         2
tr         1
nb         1
ko         1
ar         1
vi         1
Name: meta_lang, dtype: int64

In [81]:
news.loc[10029, 'title']

'Faces of the Missing: 14 Unsolved Disappearances — and How Their Families Fight for Answers'

In [82]:
news.title.value_counts() #this will show repeated titles for non-existing or service pages pages

Yahoo                                                                                                           368902
Yahoo – Anmeldung                                                                                               254308
Login                                                                                                            10932
Yahoo Search Results                                                                                              8218
403 Forbidden                                                                                                     4020
Yahoo Image Search Results                                                                                        3985
NewsNow: Error loading story                                                                                      3249
Page gone                                                                                                         2854
Yahoo Mail                                                                                                        2554
Yahoo Search Results Yahoo Search Results                                                                         2526
Sign in                                                                                                           2099
Yahoo Suche Suchergebnisse                                                                                        1323
inicio de sesión                                                                                                  1102
BBC Sounds                                                                                                        1081
Polarity Yahoo Search Results                                                                                     1023
Yahoo Video Search Results                                                                                         986
We are currently unavailable in your region                                                                        966
Page not found                                                                                                     873
Access Denied                                                                                                      849
HuffPost is now part of Oath                                                                                       836
BBC iPlayer                                                                                                        820
Yahoo!                                                                                                             764
HuffPost is now a part of Oath                                                                                     763
Outlook, Office, Skype, Bing, Breaking News, and Latest Videos                                                     728
Saferbrowser Yahoo Search Results                                                                                  720
BBC Weather                                                                                                        675
Survey closed                                                                                                      674
Diario Libre                                                                                                       640
Error                                                                                                              618
All the TV shows that are ending or have been canceled in 2019                                                     591
                                                                                                                 ...
Abducted toddler reunited with mother                                                                                1
Liverpool fan, 23, missing in Madrid ‘was arrested for drunkenly attacking two police who tried to help him’         1
Freddie Starr's wife left him after he 'headbutted her son' in violent temper                                        1
New trailer for gory horror flick The Nightingale looks set to terrify viewers                                       1
Refugiados – Mundialíssimo                                                                                           1
Sudan army rejects civilian majority in ruling council                                                               1
are we seeing exstreme weather do to too pollution of air water etc                                                  1
How the GOP dossier chase may help Democrats get Trump's tax records                                                 1
Graham Rushes To Barr’s Defense After Mazie Hirono’s Withering Questions                                             1
Judge to decide on blood treatment for teenage Jehovah's Witness                                                     1
London Bridge inquest: Attacker's widow 'will not grieve for him'                                                    1
The growing threat to Mark Zuckerberg's power                                                                        1
Free Presbyterian minister criticises DUP over gay candidate                                                         1
amazon customer service chat                                                                                         1
Europeans flock to Ireland but Brexit keeps Britons away                                                             1
John Barnes says Montenegro should not be singled out when racism 'happens every week' in England                    1
John Bolton: Cubans, Russians are propping up Maduro                                                                 1
Le Iene: puntate, servizi e inchieste in onda su Italia1                                                             1
As Biden downplays China threat, Romney has a new warning                                                            1
How to Roast Chicken                                                                                                 1
Job Cuts at Ford Motor to Total 7,000 by August                                                                      1
Odell Beckham hints at Browns vs. Jets in Week 1                                                                     1
"More needs to be done to help families impacted by suicide"                                                         1
Manage your Sky Go devices | Sky Help                                                                                1
Only Exeter in the black as Premiership Rugby racks up £50m in losses                                                1
Jacob Rees-Mogg's sister outlines ONLY way to SAVE Brexit – 'REVOLUTION'                                             1
Hug Couple GIF                                                                                                       1
A dog's life for Australian sharks as playful pooches interrupt feeding frenzy                                       1
Healthy breakfasts                                                                                                   1
Iain Dale: I worked on David Davis's failed leadership campaign in 2005. My advice? Trust no one                     1
Name: title, Length: 144467, dtype: int64

In [96]:
news['url'][222222]

'mail.yahoo.com/d/folders/1/messages/91255?.partner=sbc&.rand=49fgtrqso8327&guce_referrer=aHR0cHM6Ly9sb2dpbnByb2R4LmF0dC5uZXQvRklNL3Nwcy9BVFRpZHAvc2FtbDIwL2xvZ2luaW5pdGlhbD9SZXF1ZXN0QmluZGluZz1IVFRQUG9zdCZQYXJ0bmVySWQ9aHR0cHMlM0ElMkYlMkZsb2dpbi55YWhvby5jb20lMkZzYW1sJTJGMi4wJTJGYXR0Ji5sYW5nPWVuLVVTJlRhcmdldD1odHRwcyUzQSUyRiUyRm1haWwueWFob28uY29tJTJGZCUzRi5wYXJ0bmVyJTNEc2JjJTI2LnJhbmQlM0Q0OWZndHJxc284MzI3&guce_referrer_sig=AQAAAFe8671spPK5P2MGiVYcLBkp3olh9yvoilAMcM4p_MkAo0dhefB640JgI-ga2aBrz6a2Y964c5b95MJow7fnGT6A0VETTzpHRSf544-KN4rs3hDch_dX9jq2x4dtuFw8uiyttF4AjVngwzaRVWK2CWz2RdJb-YGwDyPZGYE6J525'